.device{
    display: flex;
    flex-direction: column;
    border: 1px solid #aaa;
    border-radius: 4px; 
    margin: 2px;
    padding: 2px;
    &__header{
        display: flex;
        flex-direction: column;
    }
    &__body{
        &_register{
            padding: 4px;
            background-color: #444;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &_title{
               
            }
            &_value{

            }
        }
    }
    &__footer{
    }
}
h4 {
    margin: 5px;
}